

.knapp_div{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 55%;
    color:white;
    margin-top: 5rem;
    //background-color:  rgb(5, 70, 16);


}
.knapp_1{
        background-color:rgb(6, 119, 25);
        color: white;
        width: 10rem;
        height: 5rem;

}

.knapp_2{
    background-color: rgb(6, 119, 25);
    color: white;
    width: 10rem;
    height: 5rem;
}    